body {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    display: block;
    width: 240px;
    padding: 13px 0;
    
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    
    background-color: #fb565a;
    border-radius: 3px;
    border: none;
}
  
.button:hover,
.button:focus {
    background-color: #e74246;
}
  
.button:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.main-header {
    margin: 0;
    min-width: 1200px;
    padding: 50px 0 0;
    background-color: #eeeeee;
}

.container {
    margin: 0 auto;
    padding: 0;
    max-width: 1160px;
    min-height: 100px;
    position: relative;
}

.main-header-logo {
   position: absolute;
}

.main-header h3 {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    color: #000;
    margin-bottom: 45px;
    padding: 77px 0 105px;

}
   
.main-navigation {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  
    background-color: #eeeeee;
}

.site-navigation {
    display: flex;
    padding: 0px;
    margin: 75px 0 0;
    list-style: none;
    text-transform: uppercase;
}

.site-navigation:first-of-type {
    justify-content: space-between;
    width: 440px;
    margin-left: 200px;
}

.site-navigation:last-of-type {
    position: relative;
    justify-content: flex-end;
    margin-left: auto;
}

.site-navigation li {
    margin-right: 46px;
}

.site-navigation a {
    color: #000000;
    font-weight: 500;
}

.site-navigation a:hover {
    color: #fb565a;
}

.site-navigation a:focus{
    color: #c0c0c0;
}

.site-navigation-current {
    border-bottom: 2px solid #fb565a;
}

.site-navigation .basket {
    display: flex;
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
}

.basket a {
    color: #000000;
    list-style: none;
    font-weight: 500;
}

.basket a:hover {
    color: #fb565a;
}

.basket a:focus{
    color: #c0c0c0;
}

/* slider */

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
  
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
}

.slider {
    position: relative;
    
    background-color: #eeeeee;
}
  
.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;
    
    width: 160px;
    height: 18px;
  
    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}
  
.slider-controls label {
    position: relative;
    
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
    
    border-radius: 50%;
    cursor: pointer;
}
  
.slider-controls label::after {
    content: "";
    
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    
    width: 18px;
    height: 18px;
    
    background: #ffffff;
    
    border-radius: 50%;
}
  
.slider-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
}
  
.slider-item {
    display: none;
    padding: 78px 0 80px 0;
}
  
.slider-item:nth-child(1) {
    background-image: url("img/slide1.png");
    background-repeat: no-repeat;
    background-position: 93% 18px;
}
  
.slider-item:nth-child(2) {
    background-image: url("img/slide2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}
  
.slider-item:nth-child(3) {
    background-image: url("img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
}
  
#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}
  
#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}
  
  #product-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}
  
#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}
  
.slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;
    
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}
  
.slider-item p {
    max-width: 430px;
    margin: 0;
    margin-bottom: 38px;
}
  

.services-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0;
    margin-bottom: 40px;
    list-style: none;
}

.services-item {
    padding: 0 20px;
    margin-right: 60px;
}

.services-item img {
    margin-bottom: 22px;
}

.services-item h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 19px;
    width: 300px;
    text-transform: uppercase;
    line-height: 30px;
}

.services-item p {
    margin: 0 0 31px;
    width: 250px;
    font-size: 16px;
    line-height: 24px;
    color: #444;
}

.button-red  {
    background-color: #fb565a;
    margin-bottom: 80px;
    padding: 16px 40px;
}

.button-red:hover {
    background-color: #e74246;
}

.button-red:active {
    color: #e48789;
    background-color: #d7373b;
}

.button-green {
    background-color: #00ca74;
    margin-bottom: 80px;
    padding: 16px 40px;
}

.button-green:hover {
    background-color: #00bc6c;
}

.button-green:active {
    color: #74c69c;
    background-color: #00aa62;
}

.button-yellow {
    background-color:  #efc84a;
    margin-bottom: 80px;
    padding: 16px 40px;
}

.button-yellow:hover {
    background-color: #eab534;
}

.button-yellow:active {
    color: #edc47f;
    background-color: #e5a722;
}

.studio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-betwwen;
    padding: 0 20px;
}

.studio .container {
    display: flex;
    justify-content: space-between;
    padding: 39px 0 74px;
    border-bottom: 2px solid #eee;
}

.representation {
    width: 665px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.representation h3 {
    display: block;
    margin-bottom: 34px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.representation p {
    margin-bottom: 38px;
    font-size: 16px;
    line-height: 24px;
    color: #444;
}

.representation b {
    display: block;
    margin-top: 40px;
    margin-bottom: 23px;
    font-weight: 700;
    color: #000;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
    text-transform: uppercase;
}

.list-orders {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 120px;
    list-style: none;
    color: #444;
}

.list-orders li {
    position: relative;
    padding-left: 36px;
    margin-top: 25px;
}

.list-orders li::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    top: 11px;
    left: 0;
    background-color: #fb565a;
}

::after ::before {
    box-sizing: inherit;
}


.statistics img {
    line-height: 0;
    margin-bottom: 37px;
}

.statistics b {
    display: block;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}

.statistics-list {
    display: flex;
    max-width: 360px;
    flex-wrap: nowrap;
    padding: 0;
}

.statistics-list li {
    list-style: none;
    flex-basis: 100px;
    margin-right: 21px;
}

.statistics-list b {
    font-weight: 700;
    font-size: 45px;
    line-height: 10.06px;
    margin-bottom: 38px;
}

.partners {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-height: 182px;
    margin-bottom: 83px;
}

.partners .container {
    padding: 61px 0 19px;
    border-bottom: 2px solid #eee;
}

.partners .partners-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.partners-item {
    display: block;
    width: 260px;
    height: 180px;
    margin: 0 20px;
    position: relative;
}

.partners img {
    opacity: 0.2;
}

.partners img:hover {
    opacity: 1;
}

.partners img:active {
    opacity: 0.1;
}

.pagination-list {
    display: flex;
    margin-top: 44px;
}

.pagination-item:not(:last-child) {
    margin-right: 10px;
}

.pagination-item a {
    padding: 12px 18px;
    border: 3px solid #eee;
    background-color: #eee;
    color: #000;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 500;
}

.pagination-item .active {
    background-color: #fff;
}

.pagination-item:last-child a {
    padding: 12px 75px;
}

.partners-item::after {
    content: "";
    width: 2px;
    height: 52px;
    background-color: #eee;
    position: absolute;
    top: 0;
    left: 249px;
}

/* Form */

.filter-item {
    margin: 0;
    padding: 0;
    
    border: none;
    
    
    width: 260px;
    margin: 50px auto; 
}
  
.range-filter {
    width: 260px;
    margin-top: 49px;
}
  
.filter-item legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}
  
.range-controls {
    position: relative;
    
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    
    background-color: #f1f1f1;
    
    border-radius: 5px;
}
  
.range-controls .scale {
    height: 2px;
  
    background: #d7dcde;
}
  
.range-controls .bar {
    width: 70%;
    height: 2px;
  
    background: #00ca74;
}
  
.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    
    width: 4px;
    height: 4px;
    padding: 0;
  
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}
  
.range-controls .toggle-min {
    left: 50px;
}
  
.range-controls .toggle-max {
    left: 110px;
}
  
.price-controls {
    font-size: 0;
}
  
.price-controls label {
    display: inline-block;
    width: 50%;
    
    font-size: 16px;
    text-transform: uppercase;
}
  
.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;
    
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;
    
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}
  
.max-price {
    text-align: right;
}

/* Catalog */

/* Footer */

.social-list {
    width: 260px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-button {
    margin-bottom: 5px;
}

.main-footer h3 {
    font-size: 36px;
    line-height: 36px;
    color: #000;
    font-weight: 700;
    display: block;
    margin: 6px 0 10px;
}

.main-footer p {
    margin: 0;
    line-height: 22px;
    color: #444;
}



